<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

	<mvc:annotation-driven />
	<!-- <context:component-scan base-package="com.ktdsuniv" /> -->

	<bean	id="userController"
			class="com.ktdsuniv.user.web.UserController">
		<property name="userService" ref="userService"/>		
	</bean>

	<bean	id="boardController"
			class="com.ktdsuniv.board.web.BoardController">
		<property name="boardService" ref="boardService"/>
	</bean>
	
	<bean	id="replyController"
			class="com.ktdsuniv.board.web.ReplyController">
		<property name="replyService" ref="replyService"/>		
	</bean>
	
	<bean	id="projectController"
			class="com.ktdsuniv.project.web.ProjectController">
		<property name="projectService" ref="projectService"/>		
	</bean>

	<bean	id="lectureController"
			class="com.ktdsuniv.lecture.web.LectureController">
		<property name="lectureService" ref="lectureService"/>		
	</bean>

	<bean	id="roomController"
			class="com.ktdsuniv.room.web.RoomController">
		<property name="roomService" ref="roomService"/>		
	</bean>
	
	<bean	id="seatController"
			class="com.ktdsuniv.room.web.SeatController">
		<property name="seatService" ref="seatService"/>		
	</bean>

</beans>
